doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title  JS File Reader 
  body
    //- #{title}
    //- a(href='logout') Logout 
    
    //- input(type='file')
    //- script(src='javascripts/fileReader.js', charset='utf-8')
    //- - let pro = { name : '', user : false, lastClick : 3}
    img(src="/images/kira_flo_pics/kira_flo_1.jpg", alt="A Woman with buildings behind")

    if pro
      div=pro.user
    if fri
      each friend in fri
        p. 
        a(href=`/profile?id=${friend.users}`) #{friend.users}
    if pics
      each picture in pics
        p=JSON.stringify(picture)
        
          