doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title  JS File Reader 
  body
    //- #{title}
    //- a(href='logout') Logout 
    
    //- input(type='file')
    //- script(src='javascripts/fileReader.js', charset='utf-8')
    - let pro = { name : '', user : false, lastClick : 3}
    if pro.user
      div=pro.user
    else
    if fri === true
      each friend in fri
        p. 
        a(href=`/profile?id=${friend.users}`) #{friend.users}
    else
      each picture in pics
        p=JSON.stringify(picture)
        
          